[submodule "classwork/classwork/24NAG0878_wipro_Datacomm-training"]
	path = classwork/classwork/24NAG0878_wipro_Datacomm-training
	url = https://github.com/vemparalabhavya/24NAG0878_wipro_Datacomm-training.git
